header {
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 100%;
    position: fixed;
    color: rgb(255, 255, 255);
    z-index: 1000; 
}
header h1{
    margin-left: 5%;
    font-size: 38px;
    padding: 8px;
    transition: 0.5s ease-in-out;
}
@media only screen and (max-width: 600px) {
    header h1{
        font-size: 28px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1440px) {
    header h1{
        font-size: 38px;
    }
}
@media only screen and (min-width: 1441px) {
    header h1{
        font-size: 52px;
    }
    .eu h1 {
        font-size: 5.5rem;
    }
    .eu p {
        font-size: 3rem;
    }
}